*{
    padding: 0%;
    margin: 0%;
}
.wrapper{
background-color: rgba(185, 159, 255, 0.93);
width: 100%;
height: 100%;

}
.container{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-flow: column wrap;
    height: 1200px;
}

h1{
    color: rgb(5, 2, 2);
    font-size: 100px;
    text-align: center;
    padding: 2%;
    margin-left: 8%;
}

.tarjeta{
width: 30%;
padding: 0% 3%;
text-align: center;

}
.img{
    width:100%;
    height: 400px;
    box-shadow: 6px 6px 6px rgb(5, 2, 2);
}
.tarjeta h2{
padding: 0%  2%;
text-align: center;
margin: 5px;
}
button{
    height: 40px;
    width: 60px;
    background-color: rgb(150, 72, 238);
    color:#fff;
    border: none;
    margin: 5px;
}
.car{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(185, 159, 255, 0.93);
}
.car div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 5%;
}

.car img{
    margin: 50px 0;
    width: 100px;
    height: 80px;
    
}

#contador{
    width: 20px;
    margin: 0 15px;
    padding: 10px;
    font-size: 40px;
    border-radius: 360px;
    background-color: #fff;
}

img{
    width:20%;
    margin: 0px 10px;
}
